.App {
  text-align: center;
}
body {
  background-color: black;
  color: wheat;
}
span {
  color: red;
}

.mainBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  a {
    color: wheat;
    &:hover {
      color: lightblue;
    }
  }
}

.navbar {
  margin: 0px;
  padding: 20px;
  border-radius: 30px;
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  a {
    color: white;
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    &:hover {
      color: lightblue;
    }
  }
}

.intro {
  display: flex;
  flex-direction: row;
  img {
    max-width: 30%;
    align-self: center;
    border-radius: 50px;
  }
  h1 {
    width: 75%;
    margin: auto;
    text-align: left;
  }
}

.skillbtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  .skill {
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    border: 5px solid wheat;
    border-radius: 20px;
  }
}

.image {
  width: 99%;
  max-width: 1024px;
  display: block;
  margin: auto;
}
.textblock {
  max-width: 600px;
  width: 80%;
  display: block;
  margin: auto;
}

.splitbox {
  display: flex;
  padding: 20px;
  margin: 20px;
  justify-content: space-evenly;
  border-bottom: 5px solid wheat;
  .rightbox {
    align-self: center;
  }
}

.links {
  margin-top: 50px;
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ContactForm {
  width: 600px;
  max-width: 98%;
}
form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 16px;

  input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      border: 2px solid rgba(0, 206, 158, 1);
    }
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      border: 2px solid rgba(0, 206, 158, 1);
    }
  }

  label {
    margin-top: 1rem;
  }

  input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background: rgb(206, 168, 0);
    color: black;
    border: none;
  }
}

@media (max-width: 940px) {
  .splitbox {
    flex-direction: column-reverse;
  }
  .App {
    text-align: justify;
  }
}
